<div class="container mt-5">
  <h3>Search Movies</h3>
  <div class="contain mt-3 mb-5">
    <form role="search" class="my-form mb-5">
      <input [(ngModel)]="searchText" (ngModelChange)="onInputChange($event)" name="searchText"
        class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
    </form>
    @if (loading) {
    <div class="flex justify-center items-center min-h-screen">
      <app-spinner></app-spinner>
    </div>
    }
    @if (!loading) {
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4">
      @for (movie of movies; track $index) { @if (movie.poster_path) {
      <div class="cursor-pointer flex justify-center">
        <div
          class="max-w-[300px] relative rounded-lg overflow-hidden transition-transform duration-300 ease-in-out hover:scale-105">
          <div class="relative w-full max-h-[350px] group">
            <img class="w-full h-full object-cover rounded-lg"
              [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path" [routerLink]="['/movie', movie.id]" />

            <div class="absolute bottom-0 left-0 w-full bg-black opacity-90 text-white text-center p-2">
              <h5 class="text-lg font-bold">{{ movie.title }}</h5>
            </div>
          </div>
        </div>
      </div>
      } }
    </div>
    }




  </div>
</div>