<!-- navbar-area -->
<nav class="navbar fixed-top" [ngStyle]="navbg">
  <div class="container-fluid">
    <a class="navbar-brand" href=" "
      ><img
        class="logo"
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/22/Showtime.svg/2560px-Showtime.svg.png"
    /></a>

    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link search-title" href="search">Search Movies</a>
        <a class="search-icon" href="search"><i class="bi bi-search"></i></a>
      </li>
    </ul>
  </div>
</nav>

<!-- navbar-area -->

<router-outlet> </router-outlet>
