.navbar .navbar-brand {
  color: #e50914;
  font-weight: bold;
}

.nav-link {
  margin-right: 0%;
}
.navbar-nav .nav-item .nav-link {
  color: #e50914;
}

div {
  color: aliceblue;
}

.logo {
  width: 100px;
  padding: 0;
  margin: 0;
}
