<!-- banner start -->

<swiper-container class="mySwiper" navigation="true">
  @for (movie of bannerMovies; track $index) {
  <swiper-slide>
    <img src="https://image.tmdb.org/t/p/w500{{ movie.backdrop_path }}" [routerLink]="['/movie', movie.id]" />
  </swiper-slide>
  }
</swiper-container>

<!-- banner end -->

<!-- trending start -->
<div class="contain mt-3 p-4">
  <h2 class="trending text-white">Trending Movies</h2>
  <swiper-container class="trending-container" slides-per-view="5" space-between="30" free-mode="true">
    @for (movie of Trending; track $index) {
    <swiper-slide class="trending-slide"><img src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}"
        [routerLink]="['/movie', movie.id]" /></swiper-slide>
    }
  </swiper-container>
</div>
<!-- trending end -->

<!-- browse movies start -->
<div #movieBrowse class="container mx-auto px-4 py-8">
  <h3 class="text-lg font-bold mb-4 text-white ">Browse Movies</h3>
  @if (loading) {
  <div class="flex justify-center items-center min-h-screen">
    <app-spinner></app-spinner>
  </div>
  }
  @if(!loading) {
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4">
    @for (movie of movies; track $index) { @if (movie.poster_path) {
    <div class="cursor-pointer flex justify-center">
      <div
        class="max-w-[300px] relative rounded-lg overflow-hidden transition-transform duration-300 ease-in-out hover:scale-105">
        <div class="relative w-full max-h-[350px] group">
          <img class="w-full h-full object-cover rounded-lg"
            [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path" [routerLink]="['/movie', movie.id]" />

          <div class="absolute bottom-0 left-0 w-full bg-black opacity-90 text-white text-center p-2">
            <h5 class="text-lg font-bold">{{ movie.title }}</h5>
          </div>
        </div>
      </div>
    </div>
    } }
  </div>
  }

</div>

<!-- browse movies end -->

<!-- pagination start -->
<nav class="pagination-container">
  <ul class="pagination">
    @for (page of paginationArray; track $index) {
    <li [class.active]="currentPage === page" (click)="changePage(page)">
      {{ page }}
    </li>
    }
  </ul>
</nav>


<!-- pagination end -->