<!-- banner start -->

<swiper-container class="mySwiper" navigation="true">
  @for (movie of bannerMovies; track $index) {
  <swiper-slide>
    <img
      src="https://image.tmdb.org/t/p/w500{{ movie.backdrop_path }}"
      [routerLink]="['/movie', movie.id]"
    />
  </swiper-slide>
  }
</swiper-container>

<!-- banner end -->

<!-- trending start -->

<div class="contain mt-3 p-4">
  <h5 class="trending text-white">Trending Movies</h5>
  <swiper-container
    class="mySwiper"
    slides-per-view="5"
    space-between="30"
    free-mode="true"
  >
    @for (movie of Trending; track $index) {
    <swiper-slide
      ><img
        src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}"
        [routerLink]="['/movie', movie.id]"
    /></swiper-slide>
    }
  </swiper-container>
</div>
<!-- trending end -->

<!-- browse movies start -->
<div class="container">
  <h5 class="browse">Browse Movies</h5>
  <!-- search bar -->

  <!-- search bar -->

  <div class="row">
    @for (movie of movies; track $index) {
    <div class="col-sm-12 col-md-4 col-lg-3 py-2 one-item">
      <div class="card">
        <div class="poster" [routerLink]="['/movie', movie.id]">
          <img src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}" />
        </div>
        <div class="name">{{ movie.title }}</div>
      </div>
    </div>
    }
  </div>
</div>
<!-- pagination start -->

<nav class="mt-5 d-flex justify-content-center pagination">
  <ul class="pagination pagination-sm">
    @for (item of pageArray; track $index) {
    <li class="page-item" (click)="changePage($index + 1)">
      <a class="page-link">{{ $index + 1 }}</a>
    </li>
    }
  </ul>
</nav>

<!-- pagination end -->
